defaults: &defaults
  working_directory: /srv/jekyll/
version: 2
jobs:
  build:
    <<: *defaults
    docker:
      - image: jekyll/jekyll:pages
    steps:
      - checkout
      - run:
          name: Jekyll build
          command: jekyll build
      - run:
          name: HTMLProofer tests
          command: |
            /usr/gem/bin/htmlproofer ./_site \
              --allow-hash-href \
              --check-html \
              --disable-external
      - persist_to_workspace:
          root: ./
          paths:
            - _site
workflows:
  version: 2
  test-build:
    jobs:
      - build:
        filters:
          branches:
            only: master